<app-nav-bar></app-nav-bar>
<div class="container-search">
  <app-search-bar></app-search-bar>
  <div class="flags">
  <a [routerLink]="['/eua']"> <img [src]="imgEua" alt="USA Flag"> </a>
   <a [routerLink]="['/content']"> <img [src]="imgCanada" alt="Canada Flag" style="height: 100%;"> </a>
   <a [routerLink]="['/france']"><img [src]="imgFranca" alt="France Flag"> </a>
   <a [routerLink]="['/uk']"> <img [src]="imgUK" alt="UK Flag"> </a>
    <img [src]="imgItalia" alt="Italy Flag">
  </div>
</div>
<app-programs></app-programs>